* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: Montserrat;
    font-style: normal;
}

ul li{
    list-style: none;
}

a {
    text-decoration: none!important;
}


::placeholder{
    color: #737373;
}

input{
    background-color: #f2f2f2;
}

select{
    color: #737373;
    background-color: #f2f2f2;
    cursor: pointer;
}

hr{
    width: 900px;
    color: #364067;
    margin: 50px 0 50px 0;
    align-items: center;
}

.ds_none{
    display: none !important;
}

