#menuMobile {
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #173F47;
    z-index: 2;
    position: fixed;
    transition: .5s;
}

#menuMobile img{
    width: 20px;
    display: flex;
    margin-right: 25px;
}

.menu-mobile-content li{
    margin: 45px 15px;
    list-style: none;
    display: flex;
}

.menu-mobile-content li a {
    color: #fff;
}

.nav-links-hover-mobile:after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #fff;
    margin-top: 2px;
    transition: 0.5s;
}

.nav-links-hover-mobile:hover:after{
    width: 100%;  
}

#menuBtn{
    width: 30px;
    position:  fixed;
    right: 30px;
    top: 20px;
    z-index: 2;
    cursor: pointer; 
    background: #173F47;
}


@media(max-width: 855px){
    .nav-links{
        display: none;
    }

    .ds_none{
        display: flex!important;
    }
}