// importandos sass owl-carousel
@import 'core';
@import 'animate';
@import 'autoheight';
@import 'lazyload';
@import 'video';
@import "theme.default";
@import "theme.green";
@import "menu-mobile";


//boot
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: Montserrat;
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

::placeholder {
  color: #737373;
}

input {
  background-color: #f2f2f2;
}

select {
  color: #737373;
  background-color: #f2f2f2;
  cursor: pointer;
}

hr {
  max-width: 1100px;
  color: #364067;
  margin: 50px 0 50px 0;
  align-items: center;
}

.ds_none {
  display: none !important;
}

// boot - end

.container-home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/cover.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

/* CSS - NAV */

nav {
  display: flex;
  width: 100%;
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: center;
  figure {
    img {
      width: 130px;
      cursor: pointer;
    }
  }
  ul {
    flex: 1;
    text-align: right;

    li {
      display: inline-block;
      a:hover {
        color: #fff !important;
      }
    }
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .img-nav{
    padding-top: 15px;
    a{
      margin: 0 0 0 20px;
    }
    img{
      width: 23px;
    }
  }
  .nav-links-hover {
    &:after {
      content: "";
      width: 0%;
      height: 2px;
      display: block;
      background: #252b42;
      margin: auto;
      transition: 0.5s;
    }

    &:hover:after {
      width: 100%;
    }
  }
  ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
}

/* CSS - NAV -- END */

/* CSS -- TEXTS - HOME - INPUTS */

.container-cta {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .container-cta-part-one {
    margin-top: 130px;
    margin-right: 45px;
    @media only screen and (max-width: 991px) {
      text-align: center;
    }
    header {
      h2 {
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        margin-bottom: 50px;
        color: #fff;
      }
      h4 {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.2px;
        margin-bottom: 70px;
        color: #fff;
      }
    }
  }
  .btn-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    @media only screen and (max-width: 991px) {
      justify-content: center;
    }
  }
  .btn-cta-1 {
    background: #ffa62b;
    margin-right: 10px;
    border-radius: 37px;
    padding: 10px 36px;
    color: #fff !important;

    &:hover {
      color: #173f47 !important;
    }
  }

  .btn-cta-2 {
    padding: 10px 36px;
    border: 1px solid #ffffff;
    border-radius: 37px;
    color: #fff !important;

    &:hover {
      color: #173f47 !important;
    }
  }
}

.home-cta-input {
  background: #fff;
  border-radius: 2%;
  margin-top: 50px;
  padding: 40px;
  width: 328px;
  height: 619px;

  header {
    h2 {
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      color: #252b42;
      text-align: center;
      letter-spacing: 0.1px;
      margin-bottom: 35px;
    }
  }
  .cta-inputs {
    margin-left: 15px;

    h6 {
      color: #252b42;
      height: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .form-name {
    height: 91px;
    margin: 5px 0px;

    input {
      width: 230px;
      height: 48px;
      border: 1px solid #bdbdbd;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
    }
  }

  .form-email input {
    width: 230px;
    height: 48px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
  }

  .form-department,
  .form-time {
    select {
      width: 230px;
      height: 48px;
      border: 1px solid #bdbdbd;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
    }

    h6 {
      margin: 10px 0 10px 0;
    }
  }

  .btn-inputs-1 {
    background: #ffa62b;
    border-radius: 5px;
    width: 230px;
    height: 58px;
    margin-top: 20px;
    color: #fff;

    &:hover {
      color: #173f47;
    }
  }
}
/* CSS -- TEXTS - HOME - INPUTS -- END */

/* CSS - CARDS - PRODUCT  */

.container-section-cards-product {
  width: 100%;
  background: #252b42;
  .card-title-product {
    text-align: center;
    color: #fff;
    padding-top: 40px;

    h2 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
  .container-cards-product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 25px;
  }
  .card-product {
    width: 328px;
    border: none !important;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-15px);
    }
  }
  .card-subtitle-product {
    background-color: #d9edff;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    padding: 30px 0 20px 0;

    h2 {
      font-size: 20px;
      margin-left: 25px;
    }

    img {
      width: 80px;
      margin: 0 15px 15px 0;
    }
  }

  .card-subtitle-two-product {
    background-color: #d9edff;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    padding: 30px 0 20px 0;

    h2 {
      font-size: 20px;
      margin-left: 20px;
    }

    img {
      width: 80px;
      margin: 0 15px 15px -6px;
    }
  }

  .card-paragraph-product {
    background-color: #fff;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-color: #d9edff;
    text-align: start;
    padding: 30px 30px;

    p {
      margin-left: 20px;
      font-size: 14px;
      color: #737373;
      letter-spacing: 0.6px;
    }

    a:hover {
      color: #173f47;
    }
  }
}

/* CSS - CARDS PRODUCT -- END */

/* CSS - CARDS - CONTINUED  */

.container-section-continued {
  width: 100%;
  background: #252b42;
  .section-continued-text {
    padding-top: 100px;
    text-align: center;
    color: #fff;
  
    h2 {
      font-weight: bold;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
    }
  
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
  .section-continued-img {
    background: #173f47;
    margin-top: 140px;
    text-align: center;
  
    img {
      margin-top: -100px;
      margin-bottom: 70px;
      cursor: pointer;
      @media only screen and (max-width: 992px) {
        width: 600px;
      }
      @media only screen and (max-width: 500px) {
        width: 300px;
      }
    }
  }
}


/* CSS - CARDS - CONTINUED -- END */

/* CSS - CARDS REVIEW  */

.container-section-reviews {
  width: 100%;
  background: #252b42;
  padding-bottom: 50px;
  div {
    h3 {
      height: 72px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #737373;
      letter-spacing: 0.2px;
      margin: 10px 0 10px 0;
    }

    h4 {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.2px;
      display: flex;
      margin: -40px 0 0 70px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #ffa62b;
      margin-top: -15px;
    }
  }
  .text-reviews {
    text-align: center;
    color: #fff;
    padding-top: 70px;

    h2 {
      font-size: 40px;
      font-weight: bold;
      line-height: 57px;
      letter-spacing: 0.2px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 100px;
      color: #fff;
    }
  }
  .spacing-review {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
  }
  .container-review-cards {
    background: #fff;
    width: 330px;
    height: 244px;
    padding: 30px;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-15px);
    }
  }

  .review-name img {
    margin: 20px 15px 0 0;
  }
}
/* CSS - CARDS REVIEW -- END  */

/* CSS - CARDS TEAM  */

.container-section-team {
  width: 100%;
  background: #252b42;
  padding-bottom: 50px;
  .text-section-team {
    text-align: center;

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
    }

    p {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-bottom: 100px;
    }
  }

  .spacing-team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    .card-team {
      width: 328px;
      height: 373px;
      background-color: #fff;
      transition: all 0.4s ease;

      &:hover {
        transform: translateY(-15px);
      }
    }
    .text-card-team {
      text-align: center;
      margin-top: 20px;

      h1 {
        color: #252b42;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-top: 25px;
      }

      h2 {
        color: #737373;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }

    .social-team {
      margin-right: 10px;

      img {
        margin-left: 15px;
      }
    }
  }
}

/* CSS - CARDS TEAM -- END */

.container-section-contact {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/cover-2.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px 0;

  .contact-texts {
    color: #fff;

    h2 {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    h3 {
      font-weight: bold;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
    }
  }
  form {
    .box-name-email {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      input {
        width: 286px;
        height: 50px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        @media only screen and (max-width: 767px) {
          width: 190px;
        }
        @media only screen and (max-width: 450px) {
          width: 150px;
        }
      }
    }
    .input-name-contact {
      margin-right: 15px;
    }
    .box-selects {
      select {
        width: 286px;
        height: 50px;
        margin-right: 11px;
        margin: 20px 11px 20px 0;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        @media only screen and (max-width: 767px) {
          width: 190px;
        }
        @media only screen and (max-width: 450px) {
          width: 150px;
        }
      }
    }
    .box-input-text {
      input {
        width: 589px;
        height: 140px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0px 0 90px 20px;
        @media only screen and (max-width: 767px) {
          width: 394px;
        }
        @media only screen and (max-width: 450px) {
          width: 315px;
        }
      }
    }
    .btn-inputs-2 {
      background: #ffa62b;
      border-radius: 5px;
      width: 230px;
      height: 58px;
      margin-top: 20px;
      color: #fff;

      &:hover {
        color: #173f47;
      }
    }
  }
}

.container-contact-2 {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  header {
    h1 {
      color: #252b42;
      font-weight: bold;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 0.5px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #737373;
      letter-spacing: 0.2px;
    }
  }
}

.btn-contact-2 {
  width: 160px;
  height: 58px;
  background: #ffa62b;
  border-radius: 5px;
  padding: 15px 40px;
  color: #fff !important;

  &:hover {
    color: #173f47 !important;
  }
}

.btn-contact-2-spacing {
  margin-top: 18px;
}

.section-footer {
  width: 100%;
  background-color: #252b42;
  padding: 50px 0;
  .footer-part-one {
    display: flex;
    justify-content: space-between;

    span {
      img {
        margin-right: 15px;
      }
    }
  }
  .spacing-infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    .section-baseboard-infos {
      h1 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #fff;
      }

      li {
        margin-top: 5px;
      }

      a {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2;
        color: #bdbdbd;
        margin-left: -33px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
  .section-container-infos-btn {
    h2 {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    p {
      color: #bdbdbd;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
  .spacing-infos-btn {
    input {
      width: 321px;
      height: 59.555px;
      border-radius: 5px;
      padding: 5px;
      margin-right: -124px;
      @media only screen and (max-width: 370px) {
        width: 230px;
      }
    }

    button {
      width: 117px;
      height: 53px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #fff;
      background-color: #ffa62b;

      &:hover {
        color: #173f47;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #16697a;
  padding: 15px;
  text-align: center;
  h2 {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
